.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
  width: 20%;
  height: 20rem;
  margin-inline: auto;
  border: 2px solid #d1bebe;
  margin-block-start: 10rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1rem;

  button {
    width: 100%;
  }
}