/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-raised-button:not(:disabled) {
  border-radius: 0.5rem;
}
